.wrapper-profile{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
.header-profile{
    width: 100%;
    background: rgb(2, 65, 49);
    padding: .5rem;
}
.main-profile{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.section-profile{
width: 100%;
background: rgb(2, 92, 104);
}
.user-profile{
    display: grid;
    grid-auto-flow: column;
}
.user-profile h4{
    padding: 1rem;
}
.user-profile span{
    margin: auto;
    color: yellow;
    text-shadow: 0 0 .1rem black;
    font-weight: bold;
}
.profile-img{
 width: 100%;
 text-align: center;

}
.profile-img img{
    width: 45%;
    margin: auto;
}

.profile-setting{
    width: 100%;
    padding: 2rem;
}
.profile-setting li{
    text-align: left;
    line-height: 1.5;
}
.profile-setting button{
    margin-top: 1rem;
    font-size: 1rem;
}





.footer-main{
    width: 100%;
    background: rgb(2, 65, 49);
    padding: .5rem;
}
.footer-main ul{
    display: grid;
    grid-auto-flow: column;
}